.detail-view {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 2);

    padding: calc(var(--gap) * 4);

    @media screen and (max-width: 500px) and (orientation: portrait) {
        padding: calc(var(--gap) * 2);
    }
}