.list-pokemon-card {
    display: block;
    text-decoration: none;

    + .list-pokemon-card {
        margin-top: calc(var(--gap) * 2);
    }
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: calc(var(--gap) * 5);
    gap: calc(var(--gap) * 2);
}
