.evolution-info {
    display: flex;
    gap: calc(var(--gap) * 2);
    flex-direction: row;
    align-items: center;

    border: 2px dashed #000000;
    border-radius: 4px;
    padding: calc(var(--gap)) calc(var(--gap) * 3);

    &.current-pokemon {
        border: 2px solid #000000;
        background-color: #f7f7f7;
    }

    img {
        height: 60px;
        @media screen and (max-width: 500px) {
            height: 30px;
        }
    }

    .pokemon-details {
        display: flex;
        gap: var(--gap);
        flex-direction: column;

        @media screen and (max-width: 500px) {
            gap: 0;
        }

        .pokemon-id-name {
            text-transform: capitalize;
            font-size: 1.2rem;

            span {
                display: inline-block;
            }

            .pokemon-name {
                margin-left: var(--gap);
            }
        }

        .pokemon-types {
            display: flex;
            gap: calc(var(--gap) * 2);
        }
    }
}