.pokemon-card {
    color: var(--text-primary);

    display: flex;
    gap: calc(var(--gap) * 2);
    flex-direction: row;
    align-items: center;

    img {
        height: 100px;
    }

    .pokemon-details {
        display: flex;
        gap: calc(var(--gap) * 2);
        flex-direction: column;

        h1, h2 {
            display: inline-block;
            text-transform: capitalize;

            font-size: 22px;
            line-height: 1.2;
            margin: 0 var(--gap);
        }

        .pokemon-types {
            display: flex;
            gap: calc(var(--gap) * 2);
        }
    }
}
