.pagination {
    button {
        border: none;
        background-color: #313131;
        font-family: var(--font-family);
        color: white;
        padding: 4px 8px;
        cursor: pointer;

        &:disabled {
            background-color: #6c6c6c;
            cursor: not-allowed;
        }
    }
}