#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  margin-bottom: calc(var(--gap) * 2);

  a {
    color: var(--text-primary);
    text-decoration: none;
  }
}
