@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

:root {
  --font-family: 'Tiny5', Helvetica, Arial, sans-serif;
  --text-primary: #000000;

  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
